@charset "utf-8";
/* CSS reset */
body{font-size:12px;margin:0;padding:0;line-height:200%;height:100%;border:0;text-align:left;}
html{height:100%;margin:0;}
ul{margin:0;padding:0;}
li{margin:0;padding:0;list-style-type:none;}
dl{margin:0;padding:0;}
dt{margin:0;padding:0;}
dd{margin:0;padding:0;}
ol{margin:0;padding:0;}
img{border:0;}
form{margin:0;}
a{cursor:pointer;cursor:hand;}
/* CSS basic */
html{scrollbar-face-color:#DEF;scrollbar-highlight-color:#FFF;scrollbar-shadow-color:#9BC;scrollbar-3dlight-color:#ACD;scrollbar-arrow-color:#68A;scrollbar-track-color:#EEE;scrollbar-darkshadow-color:#DEF;}
body{text-align:left;background-color:#FFF;color:#3f3f3f;}
a{color:#333;text-decoration:none;outline:none;cursor:hand;cursor:pointer;}
a:hover{color:#4a88df;text-decoration:underline;}
.hand{cursor:pointer;cursor:hand;}
/* CSS main */
#mainFrame{background-color:#FFF;}
#hbox{padding:0;}
#bs_bannercenter{width:100%;height:108px;background-image:url(mainframe/bs_bannercenter.jpg);background-repeat:repeat-x;}
#bs_bannerleft{width:100%;height:100%;}
#bs_bannerright{width:100%;height:100%;background-image:url(mainframe/bs_bannerright.jpg);background-position:100% 0;background-repeat:no-repeat;}
.bs_banner_logo{background-image:url(mainframe/logo.png);background-repeat:no-repeat;width:68px;height:82px;position:absolute;top:5px;left:20px;}
.bs_banner_title{background-image:url(mainframe/title.png);background-repeat:no-repeat;width:339px;height:36px;position:absolute;top:20px;left:90px;}
.bs_nav{padding:83px 0 0 5px;color:#19366e;overflow:hidden;}
.bs_navleft{float:left;padding:0 0 0 15px;}
.bs_navleft li{float:left;padding-right:4px;}
.bs_navright{float:right;padding:0 10px 0 0;}
.fontChange{padding:4px 0 0 0;}
.fontChange span a{height:17px;line-height:17px;width:17px;text-align:center;display:block;background-image:url(mainframe/fontBg1.jpg);background-repeat:no-repeat;}
.fontChange span a:hover{background-image:url(mainframe/fontBg.jpg)!important;background-repeat:no-repeat;text-decoration:none;color:white;}
.fontChange span .fontChange_cur{background-image:url(mainframe/fontBg.jpg)!important;background-repeat:no-repeat;text-decoration:none;color:white;}
#scrollContent{line-height:150%;position:relative;z-index:0; padding:0;height:100%;}
.welcome{width:100%;height:100%;background-image:url(mainframe/welcome.jpg);background-repeat:no-repeat;background-position:90% 80%;}
.welcomeTitle{width:512px;height:174px;background-image:url(mainframe/welcomeTitle.png);position:absolute;left:45px;top:120px;}

/* CSS icon */
.icon_mark,.icon_btn_up,.icon_no,.icon_pencil{background-repeat:no-repeat;background-position:0 40%;padding:0 5px 0 18px;display:block;float:left;word-break:keep-all;word-wrap:normal; padding-right:20px;}
.icon_mark{background-image:url(mainframe/mark.gif);}
.icon_btn_up{background-image:url(mainframe/btn_up.gif);}
.icon_no{background-image:url(mainframe/no.gif);}
.icon_pencil{background-image:url(mainframe/pencil.gif);}